@keyframes menu-hover{
	from{
		color: var(--green-shade);
		padding: 0;
		margin: 20px;
		transform: scale(1.0);
	}
	to{
		color: var(--fully-black);
		padding: 20px;
		margin: 0px;
		background-color: var(--white-95);
		transform: scale(1.1);
	}
}

@keyframes menu-unhover{
	from{
		color: var(--fully-black);
		padding: 20px;
		margin: 0px;
		background-color: var(--white-95);
		transform: scale(1.1);
	}
	to{
		color: var(--green-shade);
		padding: 0;
		margin: 20px;
		transform: scale(1.0);
	}
}

@keyframes link-hover {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.05);
		letter-spacing: 0.06em;
	}
}

@keyframes link-unhover {
	from {
		transform: scale(1.05);
		letter-spacing: 0.06em;
	}
	to {
		transform: scale(1.0);
	}
}

